.contact-list {
  display: flex;
  width: 70%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #333333;
  background: #333;
  font-family: sans-serif;
  font-size: 16px;
  flex-wrap: wrap;
}