@import 'Header';
@import 'Contact';
@import 'ContactList';
@import 'Button';
@import 'Field';
@import 'Filter';
@import 'Pagination';
@import 'CallsHistory';

body {
  padding: 0;
  margin: 0;
}


.goBack {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 40px;
  height: 50px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.relative {
  position: relative;
}