.not-found {
  background: #333;
  height: calc(100vh - 63px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: 72px;
    font-family: sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
  }
}