.pagination {
  width: 60%;
  margin: 20px auto 50px;
  display: flex;
  justify-content: center;
}

.pagi {
  @extend .button;
  margin: 0 10px;
  min-width: inherit;

  &--active {
    border: #000;
    background: #000000;
  }

  &:disabled {
    background: #cccccc;
    cursor: default;
  }
}